*{
	padding:0px;
	margin:0px;
	border:0px;
	font-family: 'Raleway', sans-serif;
}
.bal{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction:column;
	position:relative;
	width:100%;
	height:400px;
	background: linear-gradient(50deg, #5debc6, #5d5dcf, #f81233, #12f868);
background-size: 800% 800%;

-webkit-animation: AnimationName 31s ease infinite;
-moz-animation: AnimationName 31s ease infinite;
animation: AnimationName 31s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
.bal h1{
	font-size:50px;
	z-index:999999;
	color:white;
	text-shadow:0px 0px 25px rgba(0,0,0,0.2);
}
.bal::before{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	top:0px;
	left:0px;
}
.num{
	background-color:white;
	border-radius:3px;
	box-shadow:0px 0px 25px rgba(0,0,0,0.3);
	padding:30px;
	box-sizing:border-box;
	margin:0px auto;
	position:relative;
	top:-65px;
	left:0px;
	right:0px;
	width:300px;
	text-align:center;
	color:#3a3a3a;
	padding-bottom:110px;
}
body{
	background-color:#fdfdfd;
}
.bal img{
	margin-bottom:20px;
	z-index:999999;
}
.rules{
	width:100%;
	padding:30px;
	text-align:center;
	box-sizing:border-box;
}
.rules p{
	line-height:40px;
	color:#828282;
	font-size:25px;
}
.num a{
	color:white;
	background-color:#22b981;
	box-sizing:border-box;
	text-decoration:none;
	padding-top:17px;
	font-size:20px;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	font-weight:700;
	letter-spacing:0.5px;
	height:60px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	transition:all 0.3s;
}
.num a:hover{
	background-color:#1fc588;
	color:white;
}
.types{
	width:900px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	box-sizing:border-box;
	padding:30px;
	margin:0px auto;
}
.types img{
	width:75px;
}
.type h1{
	margin-top:20px;
	font-size:17px;
	color:#525252;
}
.type{
	display:flex;
	border-right:2px solid #e8e8e8;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction:column;
}
.diver{
	text-align:center;
	margin-bottom:40px;
	font-size:23px;
	color:#313131;
}
.type h2{
	margin-top:10px;
	font-size:17px;
}
@media only screen and (max-width: 921px) {
	.types{
		width:100%;
		grid-template-columns:1fr;
	}
	.type{
		border-right:2px solid transparent;
		border-bottom:2px solid #e8e8e8;
		padding-bottom:20px;
		margin-bottom:30px;
	}
}
.holder{
	position:absolute;
	bottom:60px;
	left:0px;
	font-size:15px;
	width:100%;
	background-color:#f7f7f7;
	box-sizing:border-box;
	padding:10px;
}
.holder .amount{
	float:left;
}
.holder .per{
	float:right;
}
